<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tracker</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="total" #segment (ionChange)="segmentChanged(segment.value)">
    <ion-segment-button value="total">
      <ion-label>Ukupno</ion-label>
    </ion-segment-button>
    <ion-segment-button value="byDhikr">
      <ion-label>Po zikrovima</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item style="padding: 0 10px; font-size: 14px;">
    <ion-label>Mjesec</ion-label>
    <ion-select [value]="selectedMonth.value" interface="popover" #month (ionChange)="onMonthChanged(month.value)">
      <ion-select-option *ngFor="let month of months" [value]="month.value">{{month.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <section class="segment" [class.active]="showTotalSegment">
    <p class="no-dhikrs" *ngIf="dhikrsByMonth.length === 0">Nemate zikrova za odabrani mjesec</p>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Ukupan broj zikra po danima</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div style="width: 100%; overflow-x: auto; overflow-y: hidden">
          <div style="width: 1000px; height: 300px">
            <canvas #barChart height="300" width="0"></canvas>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="segment" [class.active]="showByDhikrSegment">

    <ion-list>
      <ion-item-sliding *ngFor="let dhikr of tasbeehService.dhikrs">
        <ion-item (click)="getParticularDhikr(dhikr)">
          <ion-label>
            <h2>{{dhikr.arabic}}</h2>
            <p>{{dhikr.bosnian}}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </section>

</ion-content>
