<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista zikrova</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        class="settings-icon"
        name="settings-outline"
        routerLink="/settings"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Promjeni raspored zikrova</ion-label>
    <ion-toggle #isNotificationEnabled [(ngModel)]="isReorderingEnabled">
    </ion-toggle>
  </ion-item>
  <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
<ion-reorder-group disabled="{{!isReorderingEnabled}}" (ionItemReorder)="reorderItems($event)">
  <!-- Default reorder icon, end aligned items -->
  <ion-item *ngFor="let dhikr of tasbeehService.dhikrs" (click)="tasbeehService.setSelectedDhikr(dhikr)" routerLink="/tasbeeh/tabs/counter">
    <ion-label>
      <h2>{{dhikr.arabic}}</h2>
      <p>{{dhikr.bosnian}}</p>
    </ion-label>
    <ion-note slot="end">
      {{dhikr.counter}}
    </ion-note>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

</ion-reorder-group>
</ion-content>
