<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista zikrova</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        class="settings-icon"
        name="settings-outline"
        routerLink="/settings"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let dhikr of tasbeehService.dhikrs">
      <ion-item (click)="tasbeehService.setSelectedDhikr(dhikr)" routerLink="/tasbeeh/tabs/counter">
        <ion-label>
          <h2>{{dhikr.arabic}}</h2>
          <p>{{dhikr.bosnian}}</p>
        </ion-label>
        <ion-icon class="favorite" slot="end" *ngIf="dhikr.favorite" name="heart"></ion-icon>
        <ion-note slot="end">
          {{dhikr.counter}}
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option *ngIf="!dhikr.favorite" (click)="tasbeehService.toggleFavorite(dhikr, true)">
          <ion-icon  slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>

        <ion-item-option *ngIf="dhikr.favorite" (click)="tasbeehService.toggleFavorite(dhikr, false)">
          <ion-icon slot="icon-only" name="heart-dislike"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
