
ion-reorder-group {
  text-align: center;

  ion-item {

    h2 {
      font-size: 20px;
      direction: rtl;
      text-align: left;
    }

    ion-note {
      font-size: 18px;
      color: var(--ion-color-primary);
      font-weight: bold;
    }

    ion-icon {
      &.favorite {
        color: var(--ion-color-primary);
        margin-top: 0;
      }
    }
  }

  .addBtn {
    margin-top: 15px;
  }
}
