.counter-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
  }


  .counter {
    height: 350px;
    width: 80%;
    max-width: 320px;
    position: relative;
    border-radius: 70px;
    border: 10px solid var(--ion-color-primary);
    margin: 0 auto;

    background-image: url(/assets/img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #f2f1f0;
      border-radius: 60px;
    }

    .display {
      background: var(--ion-color-primary);
      height: 90px;
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
      border-radius: 15px;
      display: flex;
      justify-content: end;
      align-items: center;
      font-size: 60px;
      font-weight: bold;
      padding-right: 20px;
      border: 5px solid #b8b8b8;
      font-family: digital;
      letter-spacing: 1px;
      overflow: auto;
    }

    .increaseBtn {
      background: var(--ion-color-primary);
      width: 130px;
      height: 130px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      border: 5px solid #b8b8b8;

      &:active {
        width: 132px;
        height: 132px;
      }
    }

    .resetBtn {
      background: var(--ion-color-primary);
      width: 45px;
      height: 45px;
      position: absolute;
      bottom: 125px;
      transform: translateX(-50%);
      border-radius: 50%;
      right: 20px;
      border: 3px solid #b8b8b8;

      &:active {
        width: 47px;
        height: 47px;
      }
    }
  }
}

@font-face {
  font-family: digital;
  src: url(digital.ttf);
  font-weight: 400;
}
