<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
       <div class="menu-header-bg"></div>
       <div class="header-content">
         <img src="assets/icon/favicon.png" alt="">
         <ion-label>
           <h2>Zikr</h2>
         </ion-label>
       </div>

       <ion-list class="menu-items" lines="none">
         <ion-menu-toggle>

          <ion-item menuClose routerLink="/morning-dhikr" routerLinkActive="active">
            <ion-icon name="sunny"></ion-icon> Jutarnji zikr
          </ion-item>

          <ion-item menuClose routerLink="/evening-dhikr" routerLinkActive="active">
            <ion-icon name="moon"></ion-icon> Večernji zikr
          </ion-item>

          <ion-item menuClose routerLink="/dhikr-before-sleeping" routerLinkActive="active">
            <ion-icon name="bed"></ion-icon> Zikr prije spavanja
          </ion-item>

          <ion-item menuClose routerLink="/tasbeeh" routerLinkActive="active">
            <ion-icon name="finger-print"></ion-icon> Zikrilo
          </ion-item>

          <ion-item menuClose routerLink="/introduction" routerLinkActive="active">
            <ion-icon name="information-circle"></ion-icon> Upute za korištenje
          </ion-item>

          <ion-item menuClose (click)="shareApp()">
            <ion-icon name="share-social"></ion-icon> Podijeli
          </ion-item>

          <ion-item menuClose (click)="rateApp()">
            <ion-icon name="star"></ion-icon> Ocijeni nas na Google Play
          </ion-item>

          <ion-item menuClose routerLink="/settings" routerLinkActive="active">
            <ion-icon name="settings"></ion-icon> Postavke
          </ion-item>

         </ion-menu-toggle>
      </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
