<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Zikrilo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="settings-icon" name="settings-outline" routerLink="/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <div class="selectedDhikr" routerLink='/tasbeeh/tabs/dhikrs' *ngIf="tasbeehService.selectedDhikr">
      <div>
        <h1>{{tasbeehService.selectedDhikr.arabic}}</h1>
        <p>{{tasbeehService.selectedDhikr.bosnian}}</p>
      </div>
    </div>

    <div class="icons">
      <ion-icon (click)="resetCounter()" name="refresh-circle-outline"></ion-icon>
    </div>

    <div class="counter" (click)="increaseCounter()" *ngIf="tasbeehService.selectedDhikr">
      <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
        style="--value:{{tasbeehService.selectedDhikr.counter>100?tasbeehService.selectedDhikr.counter%100:tasbeehService.selectedDhikr.counter}}">
        {{tasbeehService.selectedDhikr.counter}}
      </div>
    </div>
  </main>
</ion-content>
