@font-face {
  font-family: digital;
  src: url(digital.ttf);
  font-weight: 400;
}

@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

main {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url(/assets/img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 9;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: -1;
  }

  .selectedDhikr {
    color: black;
    z-index: 9;
    text-align: center;
    width: 100%;
    padding: 5px;
    max-height: 180px;
    height: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    h1 {
      font-size: 28px;
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 20px;
    color: var(--ion-color-primary);
  }

  .counter {
    height: 100%;

    &:active {
      div[role="progressbar"] {
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.40);
      }
    }

    div[role="progressbar"] {
      --size: 18rem;
      --fg: var(--ion-color-primary);
      --bg: #def;
      --pgPercentage: var(--value);
      animation: growProgressBar 1.5s 1 forwards;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      display: grid;
      place-items: center;
      background: radial-gradient(closest-side, white 90%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
      font-family: Helvetica, Arial, sans-serif;
      font-size: calc(var(--size) / 5);
      color: var(--fg);
      margin: 10px auto;
      font-family: digital;
      font-size: 90px;
      overflow-x: scroll;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
      transition: 0.8s;
    }
  }
}
