<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Vecernji zikr
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="settings-icon" name="settings-outline" routerLink="/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <app-dhikr-template [dhikrs]="eveningDhikrs"></app-dhikr-template>
  </ion-content>
</ion-content>
