<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Večernji zikr
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="settings-icon" name="settings-outline" routerLink="/settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <app-dhikr-template [dhikrs]="eveningDhikrs">
      <ng-container firstSlide>
        <header class="slide__header">
          <h2>Večernji zikr</h2>
        </header>
        <p>Najbolje vrijeme za učenje večernjeg zikra je od ikindije pa do akšam namaza.</p>
      <p>Ako iskreno i sa ubjedjenjem proučimo sljedeće zikrove imat ćemo mnogo nagrada od kojih su:</p>
      <ul>
        <li>Ako se vratimo Gospodaru u toku noći (prije nego osvanemo) obećan nam je ulazak u Dzennet</li>
        <li>Zastita od uroka, zavidnosti, sihra, džinnskog opsjedanja, straha, nesanice</li>
        <li>Spas od svih nesreca</li>
        <li>Otklanjanje briga dunjaluka i ahireta</li>
        <li>Oprost grijeha pa makar ih bilo poput morkse pjene</li>
      </ul>
      </ng-container>

      <ng-container lastSlide>

      </ng-container>
    </app-dhikr-template>
  </ion-content>
</ion-content>
