<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Zikr prije spavanja
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-dhikr-template [dhikrs]="dhikrs">
    <ng-container firstSlide>
      <header class="slide__header">
        <h2>Zikr prije spavanja</h2>
      </header>
    </ng-container>

    <ng-container lastSlide>
      Last slide
    </ng-container>
  </app-dhikr-template>
</ion-content>
