<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Koristi zikra
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Kada se uče jutarnji i večernji zikr?</ion-label>
      </ion-item>

      <ion-list slot="content">
        <div style="padding: 0 15px;">
          <p>Vrijeme jutarnjeg i večernjeg zikra nije precizirano, zato nema smetnje učiti
            jutarnji zikr prije ili nakon izlaska sunca, odnosno večernji prije ili poslije njegovog zalaska. Neki
            učenjaci smatraju da je jutarnji zikr bolje učiti prije izlaska sunca, a večernji prije njegovog zalaska, na
            osnovu ajeta: “<strong>I veličaj Gospodara svoga i zahvaljuj Mu prije sunčeva izlaska i prije
              zalaska.</strong>” (Kaf, 39.) Možda bi dokazivanje ovim ajetom i bilo jako da se on ne odnosi na sabah i
            ikindija-namaz, a što bilježe Buharija i Muslim.</p>
          <p>Ibnul-Kajjim smatra da je vrijeme jutarnjeg zikra između nastupa zore i izlaska sunca a večernjeg između
            ikindije i akšam-namaza. (Vidjeti: Sahihul-vabilis-sajjib, str. 165.) Isto ovo kaže Ibn Usejmin stim što
            smatra da nema smetnje učiti ovaj zikr i nakon tog vremena ako se ne prouči u njemu. Slično ovome kazali su
            šejh Ibn Baz i stalni kolegij. (Vidjeti: Fetaval-ledžnetid-daime, 24/178.) Imam Sujuti smatra da je vrijeme
            jutarnjeg zikra od ponoći do podne-namaza, a večernjeg od podne-namaza do ponoći, (Vidjeti:
            El-futuhatur-rabbanijje, 3/73 od Ibn Allana.) a Allah najbolje zna.</p>
          <p><strong><em>Odgovorio: Dr. Safet Kuduzović</em></strong></p>
        </div>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
